@charset "ISO-8859-1";

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
*/
/* =============================================================================
   Base
   ========================================================================== */

html { 
	font-size:75%; 
	overflow-y:scroll; 
	-webkit-text-size-adjust:75%; 
	-ms-text-size-adjust:75%; 
}

body {
	margin:0;
	font-family:sans-serif;
	text-align:center;
}
/*
#photogallery {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	z-index: -1;
}
.gv_galleryWrap {
	position: relative;
	background: #222;
	font-size: 10pt;
	margin-left:auto;
	margin-right:auto;
}
*/
.container { 
	width:100%; 
	min-width:1200px;
	margin:0 auto; 
	text-align:left;
	background-color:#D0D0D0;
}
 
.header { 
	width:100%; 
	background-color:#9999FF;
}

.headerwrap {
	margin:0 auto; 
	width:1200px; 	
}
.logo { 
	float:left; 
	clear:left;
	width:30%; 
	min-width:350px;
	height:178px; 
	text-align: center;
	font-size: 14px;
}

.logo ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

.logo ul li {
	display: inline;
	float: left;
	text-align: center;
	padding: 5px;
}

.logo ul li a:link,a:visited
{
display:block;
font-weight:bold;
color:#FFFFFF;
background-color:#CCCCFF;
text-align:center;
padding:0px 15px 0px 15px;
text-decoration:none;
text-transform:uppercase;
}

.logo ul li a:hover,a:active
{
background-color:#CCCCFF;
}

.headergallery { 
	float:right;
	clear: right;
	display:inline;
	width:780px;
	height:190px;
	margin: 10px 10px 10px;
}

.navbar { 
	clear: both;
	min-width:1200px;
	background-color:#8B0000;
}
.container #container {
	margin:0 auto; 
	width:1200px;	
	border:1px solid #000000;
}

.content {
	display: inline;
	width: 100%;
	border:1px solid #000000;
}

.content table,td,th
{
padding:10px;
}
table
{
width:100%;
}
th
{
height:20px;
}

.sidebar {
	float:left;
	clear:left;
	margin:5px;
	padding:10px;
	border:1px solid #000000;
	/*color:#000000;*/
	background-color:#FFFFFF;
}

.article {
	position:relative;
	float:left;
	display:inline;
	height:170px;
	width:435px;
	margin:5px;
	border:1px solid #000000;
	background-color:#FFFFFF;
}

.article a {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-decoration:none; /* No underlines on the link*/
}

.article a:link,a:visited
{
	text-decoration:none;
	list-style-type: none;
}

.article a:hover,a:active
{
	background-color:#505050;
}

.article img {
	float:left;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:15px;
	padding:0px 10px 0px 0px;
}

.article h1, h2, h3 {
	text-align:center;
}
.article p {
	text-align:left;
	padding:0px 10px 10px 0px;
}

.videoframe {
	float:left;
	clear:left;
	display:inline;
	margin:20px;
	border:1px solid #000000;
}

.infobar {
	clear:both;
	margin-top:10px;
	margin-bottom:10px;
	border:1px solid #000000;
}

.footer {
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear:both;
	height:50px;
	margin: 10px 0px 0px 0px;
	padding: 10px 0;
	text-align: center;
	background-color: #9999FF;
}

.footer ul {
	list-style-type:none;
	font-weight:bold;
	text-align:center;
}

.footer ul li {
	display:inline;
	padding:15px;
}

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }


figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clear {clear:both}	
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

 @media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
